**Tuple**

In [2]:
# a tuple is python ordered,immutable colelction of element
# It is similar to a list, but cannot be modified (no addition, removal, or update of elements once created).

**Creating a list**

In [ ]:
# empty tuple
tup=()

# tuple with elements
tup=(1,2,3,4,5)

# tuple with different data types
tup=(1,3.14,"Hello",True)

# nested tuple
tup=(1,(2,3),(4,5))

**Accesing tuple elements**

In [7]:
tup=(1,2,3,4,5)
print(tup[0])
# negative indexing
print(tup[-1])
# slicing
print(tup[::2])

1
5
(1, 3, 5)

**Tuple immutability**

In [8]:
# you cannot change the element once tuple is created

tup=(1,2,4,5)
tup[2]=1

TypeError: 'tuple' object does not support item assignment

In [9]:
# if a tuple contains a mutable object (like a list), that list can be changed.
tup= (1, [2, 3], 4)
tup[1][0] = 99
print(tup)   # (1, [99, 3], 4)

(1, [99, 3], 4)

**Tuple operation**

In [4]:
# concatination
tup1=(1,2,3)
tup2=(4,5,6)
tup3=tup1+tup2
print(tup3)

# Repitition
print(tup1*3)

# Membership
print(3 in tup1)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
True

**Tuple methods**

In [6]:
# len
print(len(tup3))
# count
tup=(1,2,1,3,1,4)
print(tup.count(1))
# index
print(tup.index(4))

6
3
5