**Topic: Tuples**

In [4]:
# Create a tuple containing your name, age, and city, and print each value separately.
tup=("Himanshu Morale",20,"Nagpur")
print("Name: ",tup[0])
print("Age: ",tup[1])
print("City: ",tup[2])

Name:  Himanshu Morale
Age:  20
City:  Nagpur

In [7]:
# Given the tuple t = (10, 20, 30, 40, 50), print the First element,Last element adnd Middle element
t=(10,20,30,40,50)
print(t[0])
print(t[len(t)//2])
print(t[-1])

10
30
50

In [8]:
# Write a program to check whether 100 exists in the tuple (10, 20, 30, 40, 50, 60, 70).
t= (10, 20, 30, 40, 50, 60, 70)
if (100 in t):
    print("100 is present in tuple")
else:
    print("100 is not present in tuple")

100 is not present in tuple

In [9]:
# Given t = (5, 10, 15, 5, 20, 5),
# Count how many times 5 appears.
# Find the index of the first occurrence of 20.
t = (5, 10, 15, 5, 20, 5)
print(t.count(5))
print(t.index(20))

3
4

In [10]:
# Problem:
# Concatenate two tuples (1, 2, 3) and (4, 5, 6).
# Then, repeat the resulting tuple two times.
t1=(1,2,3)
t2=(4,5,6)
t3=t1+t2
print(t3)
print(t3*2)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [12]:
# Problem:
# Unpack the tuple student = ("Himanshu", 21, "B.Tech", "CSE")
student = ("Himanshu", 21, "B.Tech", "CSE")
name , age, degree ,branch =student
print(name)
print(age)
print(degree)
print(branch)

Himanshu
21
B.Tech
CSE

In [13]:
# Problem:
# Given a numeric tuple t = (11, 22, 5, 99, 34, 50),
# print the maximum and minimum elements.
t = (11, 22, 5, 99, 34, 50)
print(max(t))
print(min(t))

99
5

In [15]:
# t = (1, 2, (10, 20, 30), 3, 4)
# Access the element 20 inside the nested tuple.
t = (1, 2, (10, 20, 30), 3, 4)
print(t[2][1])

20

In [19]:
# Convert t = (10, 20, 30) to a list,
# add 40 to it, and then convert it back to a tuple.
t = (10, 20, 30)
t=list(t)
t.append(40)
print(t)
t=tuple(t)
print(type(t))

[10, 20, 30, 40]
<class 'tuple'>

In [20]:
# Write a function calculate(a, b) that returns a tuple containing:
# their sum
# their difference
# their product
# their quotient
def calculate(a,b):
    return(a+b ,a-b,a*b,a/b)
num1=int(input("Enter num 1:"))
num2=int(input("Enter num 2:"))
print(calculate(num1,num2))

Enter num 1: 5
Enter num 2: 5

(10, 0, 25, 1.0)