In [2]:
#variables: variables are container used to store some value 
a=5
print(a)
name= "Himanshu"
print(name)

5
Himanshu

In [4]:
#data types: defines what data a variable can store
#1. numerical - int, float, complex
#2. text-str
#3. sequenced- list,tuple
#4. sets- set, frozen set
#5. mapped- dictionary
#6. Boolean - True, False

In [6]:
#numerical
a=5
b=5.5
c=3+5j
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [8]:
#text data type: string
name="himanshu"
print(type(name))

<class 'str'>

In [13]:
# sequenced data type:list , tuple
number=[1,2,3,4]
print(type(number))
nums=(1,2,3,4)
print(type(nums))

<class 'list'>
<class 'tuple'>

In [11]:
#sets
a={'Himanshu',4,5,'mariyo'}
print(a)
print(type(a))

<class 'set'>

In [12]:
#dictionary
a={"name":"himanshu","age":20,"sec":"a"}
print(a)
print(type(a))

{'name': 'himanshu', 'age': 20, 'sec': 'a'}
<class 'dict'>

In [14]:
#operators
#1. arithmatic
#2. assignment
#3. comparison
#4. logical

In [18]:
#1. arithmatic operators
a,b=10,3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

13
7
30
3.3333333333333335
3
1
1000

In [22]:
#2. assignment operator
a=6
b=4
a+=b
print(a)
a-=b
print(a)
a*=b
print(a)
a/=b
print(a)
a//=b
print(a)
a%=b
print(a)

10
6
24
6.0
1.0
1.0

In [23]:
#comparison operator
a=10
b=5
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

In [24]:
#logical operator
a=True
b=False
print(a and b)
print(a or b)
print(not a)

False
True
False

In [ ]:
#type conversion
#1. explicit
#2. implicit

In [25]:
#explicit typecasting
string="15"
string_num=int(string)
num=5
sum=num+string_num
print(sum)

20

In [26]:
#implicit type casting
a=5
print(a)
print(type(a))
b=3.5
print(b)
print(type(b))
c=a+b
print(c)
print(type(c))

5
<class 'int'>
3.5
<class 'float'>
8.5
<class 'float'>